mysqlclient
appdirs
asgiref
black
certifi
cffi
click
cryptography
et-xmlfile
fastapi
greenlet
h11
mypy-extensions
openpyxl
pathspec
pycparser
pydantic
PyMySQL
regex
SQLAlchemy
toml
typing-extensions
uvicorn
psycopg2-binary